.info {
  margin-bottom: 2rem;
}

.title {
  font-weight: bold;
}

.description {
  color:grey;
  font-size: small;
}

.price {
  font-weight: bold;
  font-size: small;
}

.promotion {
  color: green;
  font-size: x-small;
}

.details{
  color: blue;
  text-decoration: underline;
  font-size: x-small;
  cursor: pointer;
}
