<div class="product-card">
  <div class="change-order-buttons">
    <button
      type="button"
      class="btn change-quantity"
      (click)="changePosition(product.id, product.order-1)">
      <img
        src="../../../assets/img/arrow-back.png"
      />
    </button>
    <button
      type="button"
      class="btn change-quantity"
      (click)="changePosition(product.id, product.order+1)">
      <img
        src="../../../assets/img/arrow-forward.png" />
    </button>
  </div>

  <app-product-image [imageUrl]="product.image"></app-product-image>
  <app-product-details [product]="product"></app-product-details>
  <app-product-actions></app-product-actions>
</div>

